<!-- Config file for the game -->

<config>
  <app>
    <title>Minimap Testbed</title>
    <organization>UPC</organization>
  </app>

  <renderer>
    <vsync value="false"/>
    <CapFrames value="165"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
    <icon name="Assets/Sprites/Textures/Icon.bmp"/>
  </window>

  <map>
    <folder>data/assets/textures/maps/</folder>
  </map>

  <audio>
    <music_folder>Assets/Audio/Music/</music_folder>
    <fx_folder>Assets/Audio/FX/</fx_folder>
    <volume default="16"/>
  </audio>

  <gui>
    <atlas file="Assets/Sprites/atlas.png"/>
  </gui>

  <scene>
    <maps>
      <warcraft name="room0.tmx" active="1" tex="data/assets/textures/maps/warcraftDebugTex.png"/>
    </maps>
  </scene>

  <entities>
    
    <spritesheets>
      <footman name="data/assets/textures/sprites/footman.png"/>
    </spritesheets>
    
 
  </entities>
</config>